.center {
    text-align: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.center-image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

body{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}